<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#A5C9CA" />
  <meta name="description" content="Temukan Restoran Yang Kamu Cari" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./RestoFind.png">

  <title>RestoFind</title>
</head>

<body>
  <a href="#content" class="skip-link">Skip to content ?</a>
  <!-- NavBar -->
  <header class="navbar-area">
    <app-bar></app-bar>
  </header>

  <!-- Content -->
  <main id="content" tabindex="0"></main>

  <!-- Footer -->
  <footer>
    <p>Copyright © 2022 - RestoFind</p>
  </footer>
</body>

</html>