.skeleton {
  &:hover {
    box-shadow: none !important;
  }
}

.skeleton-head {
  height: 33px;
  width: 40%;
  margin-bottom: 16px;
  background-color: #f0f0f0;
}

.skeleton-body {
  height: 280px;
  width: 100%;
  background-color: #f0f0f0;
}

.sm.skeleton-body {
  height: 120px;
}
