@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// Colors
$primary-color: #058381;
$accent-color: #df2856;
$dark-color: #252a34;
$dark_color1: #323947;
$light-color: #dedede;
