<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestoFind</title>
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
</head>

<body>
  <a href="#/list" class="skip-link">Skip to content ?</a>

  <!-- NavBar -->
  <header class="navbar-area">
    <app-bar></app-bar>
  </header>

  <!-- Content -->
  <main>
    <div id="content">
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <p>Copyright © 2022 - RestoFind</p>
  </footer>
</body>

</html>