@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

// Colors
$primary-color: #058381;
$accent-color: #df2856;
$dark-color: #004369;
$dark_color1: #323947;
$light-color: #e5ddc8;
